/* Sass that assign text and background color to HTML body and p*/
$text-color: #3D3D3D;
$bakground-color: #6D6D6D;

body {
  color: $text-color;
  background-color:$bakground-color;
}

p{
  color: $text-color;
}
h2{
  background-color: $bakground-color;
}